
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
div#one{
        text-align: center;
        color: #064f97 ;
        font-size: 50px;
        font-family: Roboto Condensed;
}

background1{
    background-color:#163e66; 
}

body{
        text-align: center;
        color: #0060c0 ;
        font-size: 40px;
        font-family: Roboto Condensed
}

